$colorBlack: #1c1c1c;
$colorGrey: #888;
$colorAdminBlue: #5688d8;
$colorReportHeader: #6C8835;
$colorReportRow: #E8EFD9;
$colorReportFooter: #D2E0B5;

$color-tpv-blue: #394149;
$color-tpv-gray: #d7d9db;
$color-tpv-green: #4db34d;
$color-tpv-red: #a4002e;
$color-tpv-white: #fff;
